<template name="engNavigator">
  <!-- Header -->
  <header class="header" role="banner">
    <div class="header-inner clearfix">
      <a class="brand pull-left" href="{{pathFor 'homeEng'}}">
        <img src="/images/Home eng_files/head.gif" alt="Tao Kung Fu System">
      </a>
      <div class="header-search pull-right"></div>
    </div>
  </header>
  <nav class="navigation" role="navigation">
      <ul class="nav menu nav-pills">
        <li class="item-101"><a href="{{pathFor 'homeEng'}}">Home</a></li>
        <li class="item-102"><a href="{{pathFor 'masterTaoMasaEng'}}">Master Tao Masa</a></li>
        <li class="item-103"><a href="{{pathFor 'pictureEng'}}">Picture Gallery</a></li>
        <li class="item-104"><a href="{{pathFor 'videoEng'}}">Video Gallery</a></li>
        <li class="item-106"><a href="{{pathFor 'testimonialEng'}}">Testimonial &amp; Press</a></li>
        <li class="item-107"><a href="{{pathFor 'contactsEng'}}">Contacts</a></li>
     </ul>
  </nav>
    <div class="moduletable">
      <ul class="breadcrumb">
          <li class="active">You are here: &nbsp;</li>
          <li class="active"><span>Home</span></li>
      </ul>
    </div>
</template>
