<template name="rightSideIta">

  <div class="well "><h3 class="page-header">TKFS Qi Gong Curativo</h3><ul class="nav menu nav-pills">
<li class="item-108 parent"><a href="{{pathFor 'baseIta'}}">TKFS Base</a></li>
<li class="item-114 parent"><a href="{{pathFor 'intermedioIta'}}">TKFS Intermedio</a></li>
<li class="item-121 parent"><a href="{{pathFor 'avanzatoIta'}}">TKFS Avanzato</a></li></ul>
</div>

<div class="well "><h3 class="page-header">TKFS Qi Gong Marziale</h3><ul class="nav menu nav-pills">
<li class="item-127"><a href="{{pathFor '5PratichediHardQiGongIta'}}">5 Pratiche di Hard Qi Gong </a></li>
<li class="item-128"><a href="{{pathFor 'formaHardQiGongIta'}}">Forma Hard Qi Gong </a></li>
<li class="item-129"><a href="{{pathFor 'camiciadiFerro1Ita'}}">Camicia di Ferro 1</a></li>
<li class="item-130"><a href="{{pathFor 'camiciadiFerro2Ita'}}">Camicia di Ferro 2</a></li>
<li class="item-131"><a href="{{pathFor 'camiciadiFerro3Ita'}}">Camicia di Ferro 3</a></li>
<li class="item-132"><a href="{{pathFor 'tanTienQiGongIta'}}">Tan Tien Qi Gong</a></li></ul>
</div>

<div class="well "><h3 class="page-header">TKFS Tai Chi Qi Gong</h3><ul class="nav menu nav-pills">
<li class="item-135"><a href="{{pathFor 'taiChiQiGong1Ita'}}">Tai Chi Qi Gong 1</a></li>
<li class="item-136"><a href="{{pathFor 'taiChiQiGong2Ita'}}">Tai Chi Qi Gong 2</a></li>
<li class="item-137"><a href="{{pathFor 'taiChiQiGong3Ita'}}">Tai Chi Qi Gong 3</a></li>
<li class="item-138"><a href="{{pathFor 'taiChidellaSferaIta'}}">Tai Chi della Sfera</a></li></ul>
</div>

</template>
