<template name="rightSideEng">

<div class="well "><h3 class="page-header">TKFS Healing Qi Gong</h3><ul class="nav menu nav-pills">
<li class="item-108 parent"><a href="{{pathFor 'basicEng'}}">TKFS Basic Level</a></li>
<li class="item-114 parent"><a href="{{pathFor 'mediumEng'}}">TKFS Medium Level</a></li>
<li class="item-121 parent"><a href="{{pathFor 'advanceEng'}}">TKFS Advance Level</a></li></ul>
</div>

<div class="well "><h3 class="page-header">TKFS Martial Qi Gong</h3><ul class="nav menu nav-pills">
<li class="item-127"><a href="{{pathFor 'hardQiGong5Eng'}}">Hard Qi Gong 5 Practices</a></li>
<li class="item-128"><a href="{{pathFor 'hardQiGongFormEng'}}">Hard Qi Gong Form</a></li>
<li class="item-129"><a href="{{pathFor 'ironShirtQiGong1Eng'}}">Iron Shirt Qi Gong 1</a></li>
<li class="item-130"><a href="{{pathFor 'ironShirtQiGong2Eng'}}">Iron Shirt Qi Gong 2</a></li>
<li class="item-131"><a href="{{pathFor 'ironShirtQiGong3Eng'}}">Iron Shirt Qi Gong 3</a></li>
<li class="item-132"><a href="{{pathFor 'tanTienQiGongEng'}}">Tan Tien Qi Gong</a></li></ul>
</div>

<div class="well "><h3 class="page-header">TKFS Tai Chi Qi Gong</h3><ul class="nav menu nav-pills">
<li class="item-135"><a href="{{pathFor 'taiChiQiGong1Eng'}}">Tai Chi Qi Gong 1</a></li>
<li class="item-136"><a href="{{pathFor 'taiChiQiGong2Eng'}}">Tai Chi Qi Gong 2</a></li>
<li class="item-137"><a href="{{pathFor 'taiChiQiGong3Eng'}}">Tai Chi Qi Gong 3</a></li>
<li class="item-138"><a href="{{pathFor 'taiChiQiBallEng'}}">Tai Chi Qi Ball</a></li></ul>
</div>

<div class="well "><h3 class="page-header">Kung Fu of the 5 Forces</h3><ul class="nav menu nav-pills">
<li class="item-139"><a href="{{pathFor 'earthEng'}}">Earth Force&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-140"><a href="{{pathFor 'waterEng'}}">Water Force&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-141"><a href="{{pathFor 'fireEng'}}">Fire Force&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-142"><a href="{{pathFor 'WindEng'}}">Wind Force&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-143"><a href="{{pathFor 'VoidEng'}}">Void Force                                 </a></li></ul>
</div>

<div class="well "><h3 class="page-header">Healing Therapy Service</h3><ul class="nav menu nav-pills">
<li class="item-144"><a href="{{pathFor 'internalOrganMassageEng'}}">Internal Organ Massage</a></li>
<li class="item-145"><a href="{{pathFor 'guashaEng'}}">Guasha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-146"><a href="{{pathFor 'cosmicHealingEng'}}">Cosmic Healing&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
<li class="item-147"><a href="{{pathFor 'cuppingEng'}}">Cupping</a></li></ul>
</div>

</template>
