<template name="cosmicHealingEng">
  <div id="system-message-container"></div>
	 <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	    <meta itemprop="inLanguage" content="en-GB">
      <div class="page-header"><h2 itemprop="name"><a href="" itemprop="url"> Cosmic healing</a></h2></div>
      <div itemprop="articleBody">
		Cosmic Healing is a practice that teach to the practitioner how be connect to the universe and became a human channel to guide the force Qi into our or another body for reestablish the correct energy flow or for support and stimulate a healing process.  	</div>
</div>
</template>
