<template name="cuppingEng">
  <div id="system-message-container"></div>
	 <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
	 <div class="page-header"><h2 itemprop="name"><a href="" itemprop="url"> Cupping therapy</a></h2></div>
   <div itemprop="articleBody">
		By using the glass cup we create suction on the skin of the body.
This therapy releases soft tissue, drains excess fluids and toxins, lifts connective tissue, brings blood flow to stagnant skin and muscles and draw out negative energy from our internal organs. We also stimulate the lymphatic system and a total sense of well-being. 	</div>
  </div>
</template>
