<template name="earthEng">
  <div id="system-message-container"></div>
  <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Earth Force</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>The earth element is the first and perhaps the most important element to study.&nbsp;In this element the practitioners learn how to grounding and centering in the real self, standing like an unmovable mountain.</p>
<p style="text-align: justify;">The training of Earth element is focus on body structure developing (muscle, joint and tendon), relaxing, Hara centering, grounding and general self-defense.<br>The training includes:</p>
<p style="text-align: justify;">Body movement:&nbsp;rolling and break fall, forward, backwards &amp; sideways<br>Attack: striking,&nbsp;kicking and punching<br>Defense: grappling,&nbsp;throwing, choking, and joint locks<br>Mind science: mudra&nbsp;and meditations for Earth Force.<br>Also the practitioner to pass to the water level must learn the practice of Iron Shirt 1, and Tai Chi Qi Gong 1</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/35eng Earth Force_files/aaaaa.jpg" alt=""></p> 	</div>


						 </div>
</template>
