<template name="fireEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Fire Force</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">After grounding and flowing we study the burning Force of Fire.</p>
<p style="text-align: justify;">Fire is the Force of&nbsp;“attack”.&nbsp;This is the Force of the aggressive and focus intension, always under control.</p>
<p style="text-align: justify;">The training of Fire Force is focus on body structure developing (muscle, joint and tendon), timing, Tan Tien expansion, focus movement and advance self-defense.</p>
<p style="text-align: justify;">The training includes:<br>Body movement:&nbsp;positioning, rolling and break fall, forward, backwards &amp; sideways<br>Attack:&nbsp;striking,&nbsp;kicking, punching, elbow, knee<br>Defense:&nbsp;grappling, throwing, choking, and joint locks<br>Mind science:&nbsp;Hard Qi Gong, mudra and meditations of Fire Force<br>Also the practitioner to pass to the Wind level must learn the Tao practice of Iron Shirt 3 and Iron Fist.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/37eng Fire Force_files/DSCF0027.JPG" alt=""></p> 	</div>


						 </div>
</template>
