<template name="guashaEng">
  <div id="system-message-container"></div>
	<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Guasha</a>
									</h2>
							</div>
<div itemprop="articleBody">
		Guasha is a cleansing technique used by many practitioners of Traditional Chinese Holistic medicines.&nbsp;
In Guasha the practitioner uses a stroking action to methodically apply pressure to the skin with a specialized round-ended instrument. This technique causes small red or purple spots as reaction of the skin. The skin is not damaged in any way and the redness fades in a few days.
Guasha is used to move blocked "Qi" (energy), which is considered to be the main cause of pain and stiffness in muscles and joints. 	</div></div>
</template>
