<template name="hardQiGong5Eng">

					<div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="http://www.taokungfusystem.com/headquarter/index.php?option=com_content&view=article&id=22:hard-qi-gong-5-practices&catid=12:tkfs-martial-qi-gong&Itemid=127" itemprop="url"> Hard Qi Gong 5 Practices</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">One of the reason why the human get old is because the earth gravity. The earth gravity by pulling our internal organ down make them tired and under fatigue. This 5 practices of Hard Qi Gong focus on training all the fascia and all the diaphragms to make them stronger and to support all the internal organ and bring them up again in their own place and shape. This practices also develop a strong focus and Mind-Body connection.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/25eng Hard Qi Gong 5 Practices_files/DSC_1446.JPG" alt=""></p> 	</div>


						 </div>
</template>
