<template name="hardQiGongFormEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Hard Qi Gong Form</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>The Hard Qi Gong Form is a very old form that came from the ancient knowledge of Shaolin Temple in China and was believed that this form was created by the founder of the Shaolin, Tah Mo. This form teaches how to grounding strong like tree and be soft and relaxed at same time. One particular and very important part of this form is to bring the Qi from the Tan Tien up to the chest and up to the face, eyes and crown. By bringing the Qi into our eyes we improve the vision and we develop what we call the “Dragon Eyes”.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><img src="/images/26eng Hard Qi Gong Form_files/DSC_1456.JPG" alt=""></p> 	</div>


						 </div>
</template>
