<template name="internalOrganMassageEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Internal Organ Massage</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: justify;">Internal Organ Qi Massage techniques are used directly over the navel and surrounding abdominal areas where stress, tension and negative emotions accumulate.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: justify;">The Qi, life-force energy, moves through the body’s internal channels, nervous system, blood vessels, and lymph glands.&nbsp;<b>These systems concentrate and cross paths in the abdomen, which acts as their control center.</b>&nbsp;Tensions, worries, and stresses of the day, month, or year accumulate and are seldom dispersed. These disturbances can cause physical tangling and knotting of the nerves, blood vessels, and lymph nodes. The result is the gradual obstruction of energy circulation, which may lead to any number of maladies including, but not limited to, indigestion, constipation, bloating, insomnia, whole body toxicity, poor skin quality, and an inability to lose weight.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: justify;">The ancient Taoists realized that&nbsp;<b>negative emotions cause serious damage to one’s health</b>, impairing both physical and spiritual functions. They understood that each human emotion is an expression of energy and that certain emotions could indicate the negative energy behind many physical ailments. They also identified a specific cycle of relationships between the emotions and the organs. For example, the experience of a “knot” in one’s stomach indicated the presence of worry, the negative emotion that accumulates in the stomach and spleen.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: justify;">By using the technic of this special massage we can release and dissolve all the knot and energy blockage stuck in the various internal organs.</p>
<p style="text-align: justify;">&nbsp;</p> 	</div>


						 </div>
</template>
