<template name="ironShirtQiGong2Eng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Iron Shirt Qi Gong 2</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">In the second level of Iron Shirt, one learns how to combine the mind, heart, bone structure and Qi into one moving unit. The static forms learned in the first level of Iron Shirt Qi Gong 2 evolve at this level into moving postures.<br>The goal of Iron Shirt Qi Gong 2 is to develop rooting and internal power and the ability to absorb and discharge energy through the tendons. A series of exercises allow the student to change, grow and strengthen the tendons and joints, to stimulate the vital organs and to integrate the fascia, tendons, bones and muscles into one structure. The student also learns methods for releasing accumulated toxins in the muscles and joints of the body. <br>Once energy flows freely through the muscles and joints, accumulated toxins can be discharged out of the body very efficiently without resorting to extreme fasts or special dietary aids.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/28eng Iron Shirt Qi Gong 2_files/IMG_6210.JPG" alt=""></p>
<p style="text-align: center;"><img src="/images/28eng Iron Shirt Qi Gong 2_files/IMG_6211.JPG" alt=""></p> 	</div>


						 </div>
</template>
