<template name="ironShirtQiGong3Eng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Iron Shirt Qi Gong 3</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">In the third level of Iron Shirt, one learns how to strengthen the bones by increasing bone density and structure and to re-grow the marrow through bone breathing and internal sexual organ massage. One also learns how to direct internal power to the higher centers. This level of Iron Shirt works directly on the organs, bones and tendons in order to strengthen the entire system beyond its ordinary capacity.</p>
<p style="text-align: justify;">An extremely efficient method of vibrating the internal organs allows the practitioner to shake toxic deposits out of the inner structure of each organ by enhancing Qi circulation.<br><br></p>
<p style="text-align: justify;">&nbsp;</p> 	</div>


						 </div>
</template>
