<template name="ironShirtQiGong1Eng">
  <div id="system-message-container">
  	</div>

  					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	<meta itemprop="inLanguage" content="en-GB">
  				<div class="page-header">
  		<h2 itemprop="name">
  												<a href="" itemprop="url"> Iron Shirt Qi Gong 1</a>
  									</h2>
  							</div>




  								<div itemprop="articleBody">
  		<p style="text-align: justify;">Kung Fu was used in China long before the advent of firearms. During the Bolin Period, approximately 1000 B.C., training in the various spiritual/martial arts was very intense. It is said that at the time one tenth of the population of China was involved in some sort of Kung Fu. Iron Shirt Qi Gong is a method of Kung Fu, was learned as a protective training, providing internal power by the practice of simple external techniques. The practitioner was guarded against the effects of blows to his vital organs and glands, the primary sources for the production of life-force energy.<br>With Iron Shirt Qi Gong, one is able to increase the flow of&nbsp;hormones produced by the endocrine glands, building up the immune system and giving a general sense of well-being. The sexual (creative) energy produced as a result is another source of&nbsp;Qi energy which may later be transformed into spiritual energy.</p>
  <p>&nbsp;</p>
  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/27eng Iron Shirt Qi Gong 1_files/IMG_6234.JPG" alt=""></p> 	</div>


  						 </div>
</template>
