<template name="taiChiQiBallEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Ball</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>The&nbsp;general training purposes of Tai chi Ball Qi Gong are:<br>- Strengthen the physical torso, especially the spine and lower back. <br>- Empower the bone, bone marrow, muscles, tendons and ligaments for every age. <br>- Improve and increase the Qi flow in the body.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/34eng Tai Chi Qi Ball_files/IMG_2597.JPG" alt=""></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/34eng Tai Chi Qi Ball_files/IMG_2623.JPG" alt=""></p> 	</div>


						 </div>
</template>
