<template name="taiChiQiGong1Eng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Gong 1</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Tai Chi Chi Kung 1 consists of thirteen movements which are performed in all the four directions, clockwise and counterclockwise.&nbsp;In the practice of Tai Chi Chi Kung, the increased energy flow developed through the Microcosmic Orbit, Fusion work, Iron Shirt, Tao Yin and Tan Tien Chi Kung practices are integrated into one unified movement, so that the body learns more efficient ways of utilizing energy in motion.</p>
<p style="text-align: justify;">Improper body movements restrict energy flow causing energy blockages, poor posture, and, in some cases, serious illness. Quite often, back problems are the result of improper posture, accumulated tension, weakened bone structure, and psychological stress. One result of increased body awareness through movement is an increased awareness of one’s environment and the potentials it contains.</p>
<p style="text-align: justify;">Since Tai Chi is a gentle way of exercising and keeping the body fit, it can be practiced well into advanced age because the movements do not strain one’s physical capacity as some aerobic exercises do.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/31eng Tai Chi Qi Gong 1_files/IMG_2549.JPG" alt=""></p> 	</div>


						 </div>
</template>
