<template name="taiChiQiGong3Eng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Gong 3</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Tai Chi Wu Style is the advanced level moving meditation using twisting and leaning techniques to open the kua and sacrum for transferring the Cosmic Forces. The practice consists of eight movements performed in the Eight Directions, connecting with the Eight Forces. <br>This discipline balances the hip and sacral alignment, opens the Tan Tien and Kidney fires, and coordinates body and mind movement with self-defense applications.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/33eng Tai Chi Qi Gong 3_files/IMG_2561.JPG" alt=""></p> 	</div>


						 </div>
</template>
