<template name="taiChiQiGong2Eng">
  <div id="system-message-container">
  	</div>

  					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	<meta itemprop="inLanguage" content="en-GB">
  				<div class="page-header">
  		<h2 itemprop="name">
  												<a href="" itemprop="url"> Tai Chi Qi Gong 2</a>
  									</h2>
  							</div>




  								<div itemprop="articleBody">
  		<p></p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">Tai Chi Chi Kung II is an higher level of moving meditation using the Discharge technique to absorb and transmit the Universal and Earth Forces. The practice consists of the 13 movements performed clockwise &amp; counterclockwise, as in Tai Chi Chi Kung I, with Push Hands applications. </span></p>
  <p style="text-align: justify;">&nbsp;</p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">This discipline improves postural alignment, and body and mind coordination with self-defense applications.</span></p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;">&nbsp;</p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: center;"><span lang="en"><img src="/images/32eng Tai Chi Qi Gong 2_files/IMG_2517.JPG" alt=""></span></p>
  <p>&nbsp;</p> 	</div>


  						 </div>
</template>
