<template name="tanTienQiGongEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tan Tien Qi Gong</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Tan Tien Qi Gong is o­ne of the best Taoist Qi Gong practices used to develop the Tan Tien and Perineum power. We need Qi and Qi pressure in the Tan Tien as a foundation for most of the Martial Qi Gong practices, especially for Iron Shirt Qi Gong and Tai Chi Qi Gong and meditation.</p>
<p style="text-align: justify;">The Tan Tien is the energy reserve in the body; it is the place where we store the energy we generate, gather and absorb in Qi Gong, Tai Chi and meditation. The Tan Tien is also called the ocean of Qi.&nbsp; According to Chinese medical theory, o­nce the ocean is full it overflows into the eight extraordinary meridians. <br>Once these are full the Chi flows into the twelve ordinary meridians, each of which is associated with a particular organ. The Tan Tien is therefore the foundation of the entire energetic system of the body. Tan Tien Qi Gong will help you develop Qi pressure which is o­ne of the best practices to reverse the downward spiraling movements into the upward spiraling movement of the quantity and quality of our life force.</p>
<p style="text-align: justify;">In other words, the increase of the Qi pressure in our Tan Tien through the Tan Tien Qi Gong&nbsp; will enhance our healing, martial arts (Iron Shirt and Tai Chi), meditation abilities, and the art of daily living and will also nourish our original force. It is the Qi pressure in the Tan Tien that roots our body and mind.</p> 	</div>


						 </div>
</template>
