<template name="VoidEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Void Force</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>Void is the last and the&nbsp;highest level of the 5 Forces.&nbsp;This is the master element that, without, nothing can be.&nbsp;Void is emptiness, is the universe and is the empty space full of energy.</p>
<p>This energy is the&nbsp;ONE&nbsp;that produce the&nbsp;ALL.&nbsp;The training of Void Force is focus on all.</p>
<p>In this Force all the practices and all knowledge of the Tao Kung Fu System are practice together.&nbsp;This is the moment to learn to how to be and flow with the energy of the situation, and not just try to remember some kind of technique of self-defense but became part of the ALL.</p>
<p>Loose the body and mental boundary, and attacker and defender became ONE.</p>
<p>&nbsp;</p>
<p style="text-align: center;"><img src="/images/39eng Void Force_files/DSCF0072.JPG" alt=""></p> 	</div>


						 </div>
</template>
