<template name="waterEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Water Force</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">After the grounding and the stability of the Earth Force, we go to the flowing of the Water Force.</p>
<p style="text-align: justify;">Water element is the element of “defense”</p>
<p style="text-align: justify;">We learn how to flow back like the sea-wave to absorb and intercept the enemy-attack power and return discharging back with decision and focus to the attacker.<br>The training of Water Force is focus on body structure developing (muscle, joint and tendon), timing, Tan Tien movement, flowing movement and general self-defense.</p>
<p style="text-align: justify;">The training includes:<br>Body movement:&nbsp;positioning, rolling and break fall, forward, backwards &amp; sideways<br>Attack:&nbsp;striking, kicking, punching, elbow, knee<br>Defense:&nbsp;grappling, throwing, choking, and joint locks<br>Mind science:&nbsp;mudra and meditations of Water Force<br>Also the practitioner to pass to the fire level must learn the Tao practice of Iron Shirt 2, and Tai Chi Qi Gong 2</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/36eng Water Force_files/DSCF0039.JPG" alt=""></p> 	</div>


						 </div>
</template>
