<template name="WindEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Wind Force</a>
									</h2>
							</div>
<div itemprop="articleBody">
		<p>After the grounding, flowing and burning we go to study the Wind Force.</p>
<p>Wind is the Force of high consciousness, the compassion and no fight intention.</p>
<p>The training of Wind element is focus on escaping, and teaches the circular movement to evade an attacker's strength while capturing &amp; redirecting momentum.</p>
<p>Also like every element: body structure developing (muscle, joint and tendon), timing, Tan Tien movement in all directions, focus movement and advance self-defense.</p> 	</div>


						 </div>
</template>
