<template name="chisiamoRom">
  <div id="system-message-container">
  	</div>

  					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	<meta itemprop="inLanguage" content="en-GB">
  				<div class="page-header">
  		<h2 itemprop="name">
  												<a href="" itemprop="url"> Chi siamo</a>
  									</h2>
  							</div>




  								<div itemprop="articleBody">
  		<p class="MsoNormal" style="text-align: justify;">Il Tao Kung Fu System non è un’organizzazione o un movimento.</p>
  <p class="MsoNormal" style="text-align: justify;">I praticanti del Tao Kung Fu sono individui liberi che scelgono di integrare nella loro vita le esperienze che il Maestro Tao Masa ha voluto condividere, per raggiungere il proprio benessere in piena autonomia.</p>
  <p class="MsoNormal" style="text-align: justify;">Facciamo esperienza del Taoismo con un approccio laico. Crediamo che la crescita personale e il benessere siano un diritto per tutti, che può essere perseguito indipendentemente dal proprio credo religioso.</p>
  <p class="MsoNormal" style="text-align: justify;">Rifiutiamo l’idea che la spiritualità sia legata in alcun modo alla privazione, al sacrificio o alla povertà. Ciascuno di noi vive prendendosi cura della propria interiorità e godendo dei piaceri che l’esistenza ci offre.</p>
  <p class="MsoNormal" style="text-align: justify;">Insegnare ciò che abbiamo appreso durante la nostra vita di ricercatori è per noi qualcosa di naturale, che&nbsp; nasce dal desiderio di condividere con gli altri ciò che è prezioso per noi.</p>
  <p class="MsoNormal" style="text-align: justify;">La passione in quello che facciamo sta portando i semi del Tao Kung Fu System nel mondo. E in Italia il seme è già germogliato.</p>
  <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
  <p class="MsoNormal">&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/2rom Chi siamo_files/10329131_874365825919292_2169162258216943696_n.jpg" alt="" width="879" height="659"></p>
  <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
  <p class="MsoNormal" style="text-align: justify;"><b>Tao Masa</b></p>
  <p class="MsoNormal" style="text-align: justify;">Masa sembra essere nato per la ricerca e l’insegnamento. La sua capacità di apprendere e di trasmettere è un talento naturale. Chiunque abbia partecipato ad un suo workshop avverte subito con quanta passione e rispetto si approccia agli allievi per portarli al superamento dei propri limiti.</p>
  <p class="MsoNormal" style="text-align: justify;">Avvia la sua personale ricerca all’età di 4 anni con il Karate. Apprende il JuJitsu, il Judo ed il Kung Fu Shaolin, l’Aikido con il &nbsp; Maestro giapponese&nbsp; Masahiro Ogato (da cui prende il nome dopo la sua prematura scomparsa), il Ninjutsu Bujinkan, l’Hard Chi Kung e le tecniche Taoiste per la longevità.&nbsp;</p>
  <p class="MsoNormal" style="text-align: justify;">E’ Universal Tao System Certified Instructor autorizzato dal Gran Maestro Mantak Chia.</p>
  <p class="MsoNormal" style="text-align: justify;">E’ creatore di un personale metodo di apprendimento marziale basato sulle 5 forze elementari (terra, acqua, fuoco, vento e &nbsp;vuoto) che agisce a livello interiore rieducando l’intelligenza emotiva dell’ individuo di fronte al pericolo.</p>
  <p class="MsoNormal" style="text-align: justify;">Diffonde il Tao Kung Fu System con workshop in Tailandia, Cina, Polonia, Olanda, Francia e Italia.</p>
  <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
  <p class="MsoNormal" style="text-align: center;"><img src="/images/2rom Chi siamo_files/10849860_903025636374377_1688626238489119059_n.jpg" alt="" width="871" height="653"></p>
  <p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
  <p class="MsoNormal" style="text-align: justify;"><b>Vinod F. Monopoli</b></p>
  <p class="MsoNormal" style="text-align: justify;">Dal 1998, seguendo la visione del Maestro Osho, pratica tecniche di meditazione attiva e rilassamento. La sua personale ricerca lo porta ad approfondire i principi della medicina tradizionale cinese, del qi gong, delle tecniche di respiro consapevole. Nello stesso anno consegue il diploma di operatore del metodo curativo “Osho Divine Healing Art” presso la Multiversity di Poona in India.</p>
  <p class="MsoNormal" style="text-align: justify;">La sua amicizia con Masa risale al 2000. Nasce da allora una profonda condivisione nell’ambito della ricerca marziale e spirituale.</p>
  <p class="MsoNormal" style="text-align: justify;">Nel 2010 è co-fondatore dell’Ass. di Promozione Sociale “Open Source” di Bisceglie, di cui è referente per l’area di attività denominata OM ROOM, nata per offrire ai propri soci l’opportunità di sperimentare diverse discipline olistiche: meditazione, yoga, do-in, ginnastica dolce, costellazioni familiari.</p>
  <p class="MsoNormal" style="text-align: justify;">Centinaia di persone negli anni si sono avvicinate alla meditazione grazie alle sue attività di diffusione.</p>
  <p style="text-align: justify;">Dal 2012 è responsabile del Tao Kung Fu System per l’Italia su diretta indicazione del suo fondatore Masa.&nbsp;</p>
  <p style="text-align: justify;">&nbsp;</p>
  <p><br><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/2rom Chi siamo_files/1461612_874365455919329_6774932824130366833_n.jpg" alt="" width="871" height="653"></p> 	</div>


  						 </div>
</template>
