<template name="faqRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Faq - Domande frequenti</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;"><strong>D</strong>: Sono un praticante di arti marziali / yoga / sport: perché dovrei dedicarmi al Tao Kung Fu System?”</p>
<p class="MsoNormal" style="text-align: justify;"><strong>R:</strong>&nbsp;Le tecniche del Tao Kung Fu System sono semplicissime nella loro esecuzione pratica. Possono essere apprese e riprodotte in autonomia sin dalla prima lezione senza costringerti per anni a dipendere da istruttori o a inutili sacrifici alla ricerca della perfezione.</p>
<p class="MsoNormal" style="text-align: justify;">La loro efficacia dipende dalla qualità della tua attenzione nel portare energia all’interno del corpo. La loro azione porta benefici, oltre che a muscoli e ossa, anche a tendini, fasce, sistema endocrino e organi interni: un risultato di gran lunga maggiore del praticare sport.</p>
<p class="MsoNormal" style="text-align: justify;">Molti di coloro che hanno scoperto il Tao Kung Fu System hanno deciso di integrarlo alla pratica della propria disciplina preferita con risultati ancora più soddisfacenti.</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;"><strong>D</strong>: Sono incostante e ho poco tempo per fare attività fisica. E’ inutile avvicinarmi al Tao Kung Fu System?</p>
<p style="text-align: justify;"><strong>R</strong>: Assolutamente no. Con il Tao Kung Fu System imparerai, prima ancora che una serie di tecniche, ad ascoltare il tuo corpo e ad educarlo al benessere.</p>
<p style="text-align: justify;">Anche 20 minuti di pratica&nbsp;quotidiana possono portare enormi benefici. Una volta appreso come correggere la tua postura e come muovere la tua energia, potrai praticare &nbsp;“interiormente” durante le tue attività quotidiane: mentre guidi, fai la fila allo sportello, guardi la tv, ecc.</p>
<p style="text-align: justify;">&nbsp;</p>
<p>&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/5rom Faq_files/20140615_104654.jpg" alt="" width="871" height="653"></p> 	</div>


						 </div>
</template>
