<template name="basicEng">
  <div id="system-message-container"></div>
    <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	   <div class="page-header"><h2 itemprop="name"><a href="" itemprop="url"> TKFS Basic Level</a></h2></div>
        <div itemprop="articleBody">
            <p style="text-align: justify;">The first level of TKFS include all the fundamental practices of the Healing Qi Gong.</p>
            <p style="text-align: justify;">Learn these practices is absolutely important for reestablish our general health, for prepare the body for a dipper understanding of the next level of practices and for start to develop a better feeling of our inner body.</p>
            <p style="text-align: justify;">In this Basic Level, the practitioners will learn how to feel the Qi, how to move the Qi in the body, how to transform the negative energy into positive energy and how to prepare the physical body condition of the Meridian &nbsp;to be able to grow and move a bigger quantity of Qi.</p>
            <p><a href="{{pathFor 'generalQiGongEng'}}">General Qi Gong </a></p>
            <p><a href="{{pathFor 'innerSmileEng'}}"> Inner Smile </a></p>
            <p><a href="{{pathFor '6HealingSoundsEng'}}">6 Healing Sounds</a></p>
            <p><a href="{{pathFor 'microcosmicOrbitEng'}}"> Microcosmic Orbit</a></p>
            <p><a href="{{pathFor 'taoYinEng'}}"> Tao Yin </a></p> 	</div></div>
</template>
