<template name="generalQiGongEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> General Qi Gong</a>
									</h2>
							</div>




						<div itemprop="articleBody">
		<p>General Qi Gong is a series of practices that focus on the movement of every part of the body, especially joint, in order to keep them soft and flexible and stretch every muscle and tendons for keep them strong and fit.<br><br>Also connecting Mind-Body during this special stretching we activate and stimulate all the meridian in our body for let the energy flow naturally.</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/General Qi Gong eng_files/General_Qi_Gong.JPG" alt=""></p> 	</div>


								 </div>
</template>
