<template name="taoYinEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tao Yin</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Tao Yin is a form of moving meditation that relaxes the body, opens the meridians, and clears the mind. It also gives a strong base as it focuses on the lower back, the lumbar and the psoas muscles. <br><br>Tao Yin is an important part of the Taoist System as a whole.<br><br>All the Taoist practices mutually support each other as a unique way to develop our inner potential. <br><br>Tao Yin is a perfect warm up before any of the Tao KungFu System meditation techniques: by relaxing the body, opening the meridians and calming the mind, it leads to a deeper meditation.</p> 	</div>


						 </div>
</template>
