<template name="generalQiGongIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> General Qi Gong</a>
									</h2>
							</div>




						<div itemprop="articleBody">
		<p class="MsoNormal" style="margin: 0px 0px 0.0001pt; color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: 10pt;"><strong><span style="font-size: 10pt; font-family: Arial, sans-serif;">In general Qi Gong-ul ( Chi Kung ) reprezinta o serie de practici care se concentreaza pe miscarea fiecarei parti a corpului, dar in special pe incheieturi, pentru a le mentine flexibile si suple si de a intinde muschii si tendoanele pentru a le pastra puternice si in forma.</span></strong></p>
<p class="MsoNormal" style="margin: 0px 0px 0.0001pt; color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: 10pt;"><strong><span style="font-size: 10pt; font-family: Arial, sans-serif;">&nbsp;</span></strong></p>
<p class="MsoNormal" style="margin: 0px 0px 0.0001pt; color: #222222; font-family: arial, sans-serif; font-size: 12.8000001907349px; line-height: 10pt;"><strong><span style="font-size: 10pt; font-family: Arial, sans-serif;">Prin conectarea Mentalului cu Corpul pe perioada exersarii practicilor vom activa si stimula toate meridianele din corp pentru a permite energiei sa circule in mod natural.&nbsp;</span></strong></p>
<p>&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/10rom General Qi Gong_files/general_qi_gong.jpg" alt="" width="871" height="653"></p> 	</div>


								 </div>
</template>
