<template name="orbitaMicrocosmicaIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Orbita Microcosmica</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Secondo la Medicina Tradizionale Cinese, l’energia vitale Qi scorre nel nostro corpo attraverso numerosi canali energetici chiamati “meridiani”. Ciascun meridiano è associato ad un organo e racchiude diverse funzioni indispensabili. Esistono inoltre due canali specifici, denominati Ren Mai (Vaso Concezione) e Du Mai (Vaso Governatore), che governano rispettivamente le energie Yin e Yang. Il primo meridiano inizia dall'arcata dentaria inferiore, scendere anteriormente al corpo e termina nel perineo. Il secondo parte dal perineo, segue la colonna vertebrale, passa sopra il cranio e termina in prossimità dell’arcata dentaria superiore.</p>
<p class="MsoNormal" style="text-align: justify;">L’Orbita Microcosmica è il risultato dell’unione di questi canali, che si ottiene a livello fisico collegando la lingua all’arcata dentaria superiore. La circolazione dell’energia nell’orbita è una delle pratiche terapeutiche taoiste più importanti.</p>
<p style="text-align: justify;">Imparare a controllare la circolazione dell’energia vitale Qi all’interno dell’Orbita Microcosmica è fondamentale per mantenere il tuo equilibrio interno e prevenire blocchi nel flusso energetico che possono nel tempo trasformarsi in malattia.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: center;"><img src="/images/13rom Orbita Microcosmica_files/Microcosmic_Orbit.jpg" alt=""></p> 	</div>


						 </div>
</template>
