<template name="seiSuoniCurativiIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Sei Suoni Curativi</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Gli organi del nostro corpo memorizzano le emozioni negative. L’energia negativa accumulata negli organi, compromette il generale stato di salute del nostro organismo. L'obiettivo della pratica dei “Sei Suoni Curativi” è di trasformare la negatività in luce di guarigione trasmutando l'energia negativa in amore. Ciascun suono agisce a livello vibrazionale su uno specifico organo interno, ed ha il potere di purificarlo equilibrandone l’energia yin/yang .</p>
<p style="text-align: justify;">La tecnica dei “Sei Suoni Curativi” si pratica da seduti con l’ausilio di visualizzazioni, respiro e movimenti specifici. La sera, ancor meglio prima di andare a letto, è il momento migliore per praticarla.</p>
<p style="text-align: justify;">I “Sei Suoni Curativi” rilassano il corpo, favoriscono il sonno, raffreddano gli organi che si sono surriscaldati, ti liberano dal cattivo umore e dalle emozioni negative in genere.</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: center;"><img src="/images/12rom Sei Suoni Curativi_files/6_Healing_Sounds.JPG" alt=""></p>
<p style="text-align: justify;">&nbsp;</p> 	</div>


						 </div>
</template>
