<template name="sorrisoInterioreIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Sorriso Interiore</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Molti problemi del nostro organismo sono riconducibili ad emozioni negative. Viceversa, le emozioni negative possono insorgere a causa di problemi organici.</p>
<p style="text-align: justify;">Il Sorriso Interiore è una tecnica taoista fondamentale che si basa sull'invio dell’energia ai vari organi del corpo, portando ad essi e a noi un senso di benessere e felicità, aiutandoci a contrastare stress, tensioni e disarmonie psicofisiche.</p>
<p style="text-align: justify;">La tecnica del “Sorriso Interiore” si pratica da seduti con l’ausilio di specifiche visualizzazioni. Perfetta come prima pratica al mattino.</p>
<p style="text-align: justify;">Una pratica costante del “Sorriso Interiore” , oltre ad eliminare lo stress, ti renderà immune dalle energie negative provenienti dall’esterno.</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/11rom Sorriso Interiore_files/Inner_Smile.JPG" alt=""></p>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
