<template name="3Fuochi6DirezioniRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> 3 Fuochi 6 Direzioni</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">E’ noto che il corpo umano è formato per il 70% da acqua. L’acqua è l’elemento primordiale da cui la vita è nata sul pianeta Terra. Ma tale miracolo non sarebbe potuto avvenire senza il fuoco: elemento essenziale che garantisce dinamismo e trasformazione.</p>
<p class="MsoNormal" style="text-align: justify;">Questa particolare tecnica di livello intermedio ci aiuta a riportare equilibrio nel corpo bilanciando questi due elementi. Nello specifico, apprendiamo come attivare il fuoco e come farlo circolare attraverso tre importanti centri energetici: i reni, il cuore e il <em>tan tien</em> inferiore situato nell’addome appena sotto l’ombelico.</p>
<p class="MsoNormal" style="text-align: justify;">L’attivazione dei 3 fuochi avviene grazie allo scambio dinamico tra l’energia vitale Qi presente nel nostro corpo fisico e quella dell’intero universo. Attraverso la visualizzazione e particolari movimenti delle braccia, inviamo energia all’universo per poi riprenderla in quantità maggiore attingendo da tutte le direzioni: avanti, dietro, destra, sinistra, sopra e sotto.</p>
<p style="text-align: justify;">La particolare energia generata da questo processo è poi utilizzata per stimolare le principali ghiandole del nostro sistema endocrino.</p> 	</div>


						 </div>
</template>
