<template name="forzaVuotaRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Forza Vuota</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">La tecnica taoista della “Forza Vuota” è una pratica di Qi Gong interiore di livello intermedio che fa uso della saliva come mezzo di trasporto del Qi.</p>
<p style="text-align: justify;">La saliva è considerata dai taoisti una sorta di elisir di lunga vita. Anche la scienza moderna continua a scoprire nuove proprietà di questo nostro fluido naturale.</p>
<p style="text-align: justify;">La saliva ha un ruolo fondamentale nella digestione, neutralizza gli acidi della bocca, lubrifica il cavo orale, è antibatterica e analgesica.</p>
<p style="text-align: justify;">Questa antica tecnica consiste nel fondere la saliva con l’energia vitale Qi proveniente dall’esterno per poi inghiottirla trasferendo il ricco fluido allo stomaco.</p>
<p class="MsoNormal" style="text-align: justify;">Produce benefici a tutti gli organi dell’apparato digerente oltre a caricare di energia li nostro centro energetico principale, o Tan Tien, situato sotto l’ombelico.&nbsp;</p> 	</div>


						 </div>
</template>
