<template name="sistemaRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Sistema Cellule Staminali</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Le cellule staminali sono delle cellule “indifferenziate”: in grado, cioè, di trasformarsi in cellule di diversi tessuti o organi. Nel corpo umano le cellule staminali si trovano nel midollo osseo, nel cervello, nello strato più profondo della pelle, nel cordone ombelicale dei neonati.</p>
<p class="MsoNormal" style="text-align: justify;">Le nuove frontiere della medicina puntano moltissimo sulle cellule staminali per il trattamento di malattie oggi incurabili.</p>
<p class="MsoNormal" style="text-align: justify;">I saggi taoisti sono a conoscenza dell’importanza delle cellule staminali fin dall’antichità e hanno ideato delle tecniche finalizzate a favorirne la rigenerazione e la trasformazione in cellule di tessuti e organi compromessi del nostro corpo.</p>
<p class="MsoNormal" style="text-align: justify;">La pratica taoista delle cellule staminali utilizza tecniche di visualizzazione, respirazione, circolazione dell’energia vitale Qi, stimolazione a livello fisico attraverso l’utilizzo di un particolare strumento denominato “<em>bamboo hitter</em>”.</p> 	</div>


						 </div>
</template>
