<template name="layout">
	<!-- Body -->
	<div class="body">
		<div class="container">
			{{#if lang}}
				{{> engNavigator}}
			{{else}}
				{{> itaNavigator}}
			{{/if}}
			<div class="row-fluid">
									<!-- Begin Sidebar -->
					<div id="sidebar" class="span3">
						<div class="sidebar-nav">
									<div class="moduletable">

<form id="mod-finder-searchform" action="http://www.taokungfusystem.com/headquarter/index.php?option=com_finder&view=search" method="get" class="form-search">
	<div class="finder">
		<input type="text" name="q" id="mod-finder-searchword" class="search-query input-medium" size="25" value="">
							<div id="mod-finder-advanced">
							</div>
				<input type="hidden" name="option" value="com_finder"><input type="hidden" name="view" value="search"><input type="hidden" name="Itemid" value="101">	</div>
</form>
		</div>
			<div class="moduletablejp">
					<h3>TKFS World Language</h3>

<div class="customjp">
<p><strong><img style="width:25px; height:25px" src="/images/1it Home_files/uk-icon.png" alt="">&nbsp;<a href="{{pathFor 'homeEng'}}">TKFS English</a></strong></p>
<p><strong><img src="/images/Home eng_files/Flag_of_Italy.png" alt="">&nbsp;<a href="{{pathFor 'homeIta'}}">TKFS Italia</a></strong></p>
<p><strong><img src="/images/Home eng_files/Flag_of_Romania.png" alt="">&nbsp;<a href="{{pathFor 'homeRom'}}">TKFS Romania</a></strong></p>
<p><strong><img src="/images/Home eng_files/Flag_of_Thailand.png" alt="">&nbsp;TKFS Thailand&nbsp;</strong></p>
<p>&nbsp;</p></div>
		</div>
			<div class="moduletablejp">


<div class="customjp">
	<iframe src="about:blank" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowtransparency="true"></iframe></div>
		</div>

						</div>
					</div>
					<!-- End Sidebar -->
				<main id="content" role="main" class="span6">
					<!-- Begin Content -->
					{{> yield}}
					<!-- End Content -->
				</main>
					<div id="aside" class="span3">
						<!-- Begin Right Sidebar -->
						{{#if lang}}
							{{> rightSideEng}}
						{{else}}
							{{> rightSideIta}}
						{{/if}}
						<!-- End Right Sidebar -->
					</div>
				</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer" role="contentinfo">
		<div class="container">
			<hr>

			<p class="pull-right">
				<a href="#top" id="back-top">
					Back to Top				</a>
			</p>
			<p>
				© 2015 Tao Kung Fu System			</p>
		</div>
	</footer>

</template>
