<template name="fusionedei5Elementi1Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Fusione dei 5 Elementi 1</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Nei secoli i taoisti hanno immaginato l’Universo fisico come una realtà dinamica costituita da un complesso rapporto di &nbsp;equilibrio tra 5 elementi o forze: terra, aria, acqua, legno, fuoco. Il processo di interazione tra i 5 elementi è alla base della materia di cui è costituito l’Universo. E con esso anche il nostro corpo.</p>
<p style="text-align: justify;">Nella prima pratica alchemica della Fusione dei 5 Elementi, imparerai a prendere consapevolezza del fatto che le tue emozioni negative sono manifestazioni energetiche, collegate ai 5 elementi, che si&nbsp; localizzano all’interno degli organi corrispondenti. Con la mente è possibile dirigere queste energie in alcune aree del nostro corpo per essere purificate e neutralizzate.</p>
<p style="text-align: justify;">Il Qi così purificato torna quindi a disponibile, libero di essere convogliato al centro del corpo ed impiegato per la creazione di una perla di energia che viene fatta circolare all’interno dell’Orbita Microcosmica.</p>
<p style="text-align: justify;">Nella stessa tecnica apprenderai come conservare ed accrescere la tua perla grazie al controllo consapevole dei canali attraverso i quali l’essere umano disperde la maggior quantità di energia vitale: i tuoi cinque sensi.</p> 	</div>


						 </div>
</template>
