<template name="fusionedei5Elementi2Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Fusione dei 5 Elementi 2</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Nel secondo modulo di alchimia interiore, conosciuto come Fusione dei 5 Elementi 2, imparerai ad utilizzare la tua perla di energia per la tua crescita emozionale e spirituale.</p>
<p style="text-align: justify;">Si parte riportando la perla nei punti di raccolta dei vari organi, dove precedentemente abbiamo individuato e trasformato le emozioni negative, per fare esperienza ed accrescere le corrispondenti emozioni positive.</p>
<p style="text-align: justify;">Successivamente, è possibile dirigere la perla attraverso particolari canali energetici che connettono il nostro corpo fisico con l’esterno: i Canali della Spinta e i Canali della Cintura.</p>
<p class="MsoNormal" style="text-align: justify;">I Canali della Cintura, che scorrono orizzontalmente nella fascia compresa tra i reni e l’ombelico, collegano la parte inferiore della nostra struttura corporea con quella superiore garantendo una forte connessione alla Terra. I Canali della Spinta, che scorrono verticalmente tra il perineo e l’apice della testa, collegano la nostra energia interna con quella dell’Universo.</p> 	</div>


						 </div>
</template>
