<template name="3Fire6DirectionsEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> 3 Fire 6 Directions</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">The “3 Fire 6 Directions” is one of the practice of the Tao KungFu System that teach us how to create the 3 fire in the body and condense them to create the “Holy Fire”.<br><br>This “Holy Fire” will balance the high quantity of Water that normally is 70% and is already in our body.<br><br>Expanding the Qi in every of the 6 direction, we became the center of our Inner Universe and we harmonize our energy-flow by drawing the Qi from the universe for our spiritual and physical grow.</p> 	</div>


						 </div>
</template>
