<template name="mediumEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> TKFS Medium Level</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="margin-bottom: 0cm;">The medium level of Tao Kung Fu System includes many practices of the Healing-Medical Qi Gong.</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p style="margin-bottom: 0cm;">Transforming saliva in “Elixir”, expand our aura, regenerate our material body and transform our sexual energy…these practices are very important to increase the internal quantity of Qi, for live a better and full life-force life.</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p><a href="14eng Empty Force.html">Empty Force</a></p>
<p><a href="15eng 3 Fire 6 Directions.html">3 Fire 6 Directions</a></p>
<p><a href="16eng Stem Cells System.html">Stem Cells System</a></p>
<p><a href="17eng Sexual Healing Qi Gong Man.html">Sexual Healing Qi Gong Man</a></p>
<p><a href="18eng Sexual Healing Qi Gong Woman.html">Sexual Healing Qi Gong Woman</a></p>
<p><a href="19eng Sexual Healing Qi Gong Couple.html">Sexual Healing Qi Gong Couple</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
