<template name="sexualHealingQiGongManEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Sexual Healing Qi Gong Man</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p>The Taoist masters 5000 years ago, discovered that the main way for the men to lose the Qi of the body is through ejaculation, and so they developed a way to control and recycle this sexual energy through the practice of Testicle Breathing, Power Lock and the Orgasmic Upward Draw. <br><br>By learning to separate orgasm and ejaculation – two distinct physical processes – men can transform a momentary release into countless peaks of whole body orgasms without losing Qi.<br><br>&nbsp;In addition to becoming better sexual partners, multi-orgasmic men enjoy increased vitality and longevity because they minimize the fatigue and depletion that follow ejaculation -without celibacy!&nbsp;&nbsp;&nbsp; <br><br>Cultivating, conserving, redirecting and circulation the generative force of the “Jing Qi” ,from the sexual organs to higher centers of the body invigorates and ejuvenates all the vital functions and activates the higher forces.</p> 	</div>


						 </div>
</template>
