<template name="5PratichediHardQiGongIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> 5 Pratiche di Hard Qi Gong </a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Uno dei fattori che determinano l’invecchiamento dell’essere umano è l’effetto della forza di gravità terrestre. La gravità attira verso il basso i nostri organi interni causando fatica e stress.</p>
<p class="MsoNormal" style="text-align: justify;">Queste 5 Pratiche di Hard Qi Gong concentrano il loro effetto sull’irrobustimento delle fasce e dei diaframmi rendendoli più forti e adatti a sostenere i tuoi organi interni nella loro sede e nella loro forma naturale.</p>
<p style="text-align: justify;">Questo processo sviluppa inoltre una forte connessione corpo-mente.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/27it 5 Pratiche di Hard Qi Gong_files/DSC_1446.JPG" alt=""></p> 	</div>


						 </div>
</template>
