<template name="camiciadiFerro2Ita">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="30it Camicia di Ferro 2.html" itemprop="url"> Camicia di Ferro 2</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Nel secondo livello della “Camicia di Ferro” apprenderai come integrare mente, cuore, struttura ossea ed energia vitale Chi in un unico movimento. Le posizioni statiche apprese nel primo livello diventano dinamiche.</p>
<p class="MsoNormal" style="text-align: justify;">L’obiettivo è sviluppare la radicizzazione, la forza interiore e l’abilità di assorbire e scaricare l’energia attraverso i tendini.</p>
<p style="text-align: justify;">Gli esercizi consento al praticante di rinnovare, allungare e rinforzare tendini e articolazioni: tale processo risulta nel tempo molto più utile del lavoro sul rafforzamento muscolare, che tende a perdersi con l’avanzare dell’età.</p>
<p class="MsoNormal">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="./30it Camicia di Ferro 2_files/IMG_6210.JPG" alt=""></p>
<p style="text-align: center;"><img src="/images/30it Camicia di Ferro 2_files/IMG_6211.JPG" alt=""></p> 	</div>


						 </div>
</template>
