<template name="formaHardQiGongIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="s" itemprop="url"> Forma Hard Qi Gong </a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal">Forma di Qi Gong marziale molto antica la cui creazione viene attribuita direttamente a Tah Mo, il monaco guerriero fondatore del Tempio Shaolin in Cina.</p>
<p class="MsoNormal">Attraverso questa pratica imparerai a radicarti alla terra ed essere nel contempo flessibile e rilassato come un albero.</p>
<p class="MsoNormal">Un aspetto molto importante della pratica consiste nel dirigere l’energia vitale Qi verso l’alto trasferendola dal Tan Tien fino al petto, al viso, agli occhi e alla corona.</p>
<p>Portando il Qi nei nostri occhi miglioriamo la capacità di visione e sviluppiamo ciò che i taoisti chiamiamo "Gli Occhi del Drago".</p>
<p>&nbsp;</p>
<p style="text-align: center;"><img src="/images/28it Forma Hard Qi Gong_files/DSC_1456.JPG" alt=""></p> 	</div>


						 </div>
</template>
