<template name="contattiIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Contatti</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: center;"><img style="float: left;" src="/images/7it Contatti_files/Tao_kung_fu_Italia.jpg" alt="" width="271" height="288"></p>
<p style="text-align: center;"><strong>TAO KUNG FU SYSTEM ITALIA</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><b>&nbsp;<span id="cloak8266"><a href="mailto:taokunfuitalia@gmail.com">taokungfuitalia@gmail.com</a></span><script type="text/javascript">
 //<!--
 document.getElementById('cloak8266').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy8266 = 't&#97;&#111;k&#117;nf&#117;&#105;t&#97;l&#105;&#97;' + '&#64;';
 addy8266 = addy8266 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 var addy_text8266 = 't&#97;&#111;k&#117;ngf&#117;&#105;t&#97;l&#105;&#97;' + '&#64;' + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 document.getElementById('cloak8266').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy8266 + '\'>'+addy_text8266+'<\/a>';
 //-->
 </script></b></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">facebook</p>
<p style="text-align: center;"><b>&nbsp;<a href="https://www.facebook.com/pages/Tao-Kungfu-System/199700286891323" target="_blank">Tao Kungfu System</a></b></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">sede operativa</p>
<p style="text-align: center;"><b>Circolo ARCI "<a href="https://www.facebook.com/opensourcebisceglie" target="_blank">OPEN SOURCE</a>"</b></p>
<p style="text-align: center;"><b>Area&nbsp;<a href="https://www.facebook.com/groups/148779031833623/" target="_blank">Om Room</a></b></p>
<p style="text-align: center;"><b>v. Ruvo, 127 - Bisceglie (BT)</b></p> 	</div>


						 </div>
</template>
