<template name="testimonianzeIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Testimonianze</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">“<em>Mi sono accostata a questa disciplina in punta di piedi, quasi con timore, con l'intento di sciogliere quelle tensioni che da tempo mi facevano sentire rigida, come legata. Spinta soprattutto dal desiderio di liberarmi di un noiosissimo dolore alla scapola destra che mi infastidiva da un anno. </em></p>
<p class="MsoNormal" style="text-align: justify;"><em>Ho scoperto quasi subito (con grande sorpresa) che il Qi Gong non solo mi ha aiutata a livello fisico, ma anche e forse soprattutto a livello interiore: mi ha resa più vitale, più serena, più sciolta. Lo consiglio vivamente a tutti.</em>”</p>
<p class="MsoNormal" style="text-align: right;"><strong>Antonietta M.</strong></p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;“<em>Ciò che il Qi Gong, unito al Tai Chi, può sviluppare è qualcosa di eccezionale. Gli insegnamenti del Tao Kung Fu System, uniti ad una pratica accurata dello stesso, dovrebbero essere alla base di uno stile di vita sano.</em></p>
<p class="MsoNormal" style="text-align: justify;"><em>I miglioramenti fisici, mentali e del vostro "Qi" saranno evidenti sin dalle prime pratiche: Chi torna da un viaggio non è mai la stessa persona che è partita.</em>”</p>
<p class="MsoNormal" style="text-align: right;"><strong>Giuseppe B.</strong></p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;"><em>“Praticavo Qi Gong e Tai Chi già da molti anni. Mi erano stati insegnati solo dei movimenti fisici molto utili per migliorare la mia postura e la mia capacità di rilassamento, ma non avevo idea di come poter focalizzare l'attenzione sull’energia vitale Qi presente in ognuno di noi.</em></p>
<p class="MsoNormal" style="text-align: justify;"><em>Grazie al Tao Kung Fu System invece ho imparato a riconoscere e percepire il mio Qi, e con questa consapevolezza i benefici psicofisici del Qi Gong e del Tai Chi, sono aumentati notevolmente.“</em></p>
<p class="MsoNormal" style="text-align: right;"><strong>Vito M.</strong></p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;"><em>“Che dire… un esperienza molto profonda che mi sta arricchendo di dettagli da osservare rispetto al mio corpo e al mio essere. Spettacolare esperienza di pratica con un gruppo estremamente eterogeneo. Muscoli e focalizzazione.....tendini e sorriso interiore. Trarre energia dalla natura che ci circonda e comprendere la stretta relazione che intercorre tra noi ed essa... parca dispensatrice del Qi.</em></p>
<p><em>Disciplina dura e molto fisica....vivamente consigliata a chi desidera stare in forma fisicamente e mentalmente.”&nbsp;</em></p>
<p class="MsoNormal" style="text-align: right;"><strong>Tommaso R.</strong></p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;"><em>"Conoscere il proprio corpo riuscendo a contattarlo dall'interno, scoprire gli infiniti movimenti che è capace di compiere e quante tensioni è capace di scogliere, percepire benessere d'inverno riuscendo a "creare calore" e recuperare facilmente una postura corretta con un po' di costanza. L'espressione diventa naturale e armoniosa recuperando l'essenza della propria anima, perché lo stato del nostro corpo rispecchia lo stato della nostra vita interiore. </em></p>
<p class="MsoNormal" style="text-align: justify;"><em>Ho scoperto poter ottenere questo e molto altro semplicemente praticando Tao Kung Fu con gioia e costanza. </em></p>
<p class="MsoNormal" style="text-align: justify;"><em>Grazie al Maestro Masa e buon divertimento a tutti voi!"</em></p>
<p class="MsoNormal" style="text-align: right;"><strong>Dharma S. C.</strong></p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;"><em>“Il famoso detto… Repetita ivant, spesso usato con leggerezza, nelle tecniche del Tao Kung Fu System trova tutta la sua valenza:</em></p>
<p class="MsoNormal" style="text-align: justify;"><em>più lo pratichi e più ti piace,</em></p>
<p class="MsoNormal" style="text-align: justify;"><em>più ti piace e più ti aiuta.</em></p>
<p class="MsoNormal" style="text-align: justify;"><em>Divertitevi!”</em></p>
<p style="text-align: right;"><strong>Alfonso G.</strong></p> 	</div>


						 </div>
</template>
