<template name="videoIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">




								<div itemprop="articleBody">
		<p>&nbsp;</p>
<p><b>TKFS TaoMasa Workshop in China</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/yfmFeQEsCeY.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoKungFuSystem Workshop in Thailand</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/OoTfpLPnkaw.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Tai Chi Qigong The Best Chinese Yoga</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/9Tj8xT7O_BU.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Introduction to Tao Kung Fu System</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/sJ_CiQmQyQ4.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Tile vs Rib cage</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/fcaKk6t8r9s.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Steel Bar vs Throat and Block vs Back</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/UIUeqWp9wtI.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Iron Palm on Tiles</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/sJmb8cn4gD0.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Iron Palm on Block</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/VJl-ZRLTJ8A.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Iron Body Tile vs Head</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/_sGN2_nK2xs.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Iron Body Elbow Tecnique</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/nqrreN2PAq4.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS TaoMasa Iron Body Chopstick vs Throat</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/y54okyLIY9s.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS Master TaoMasa Life</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/6cIQvhpz38k.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p>
<p><b>TKFS Master TaoMasa Iron Body</b></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<iframe width="640" height="390" src="/images/4it Video_files/F8ySFShjCes.html" frameborder="0" allowfullscreen=""></iframe>
<hr>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
