<template name="homeEng">
  <div id="system-message-container"></div>
  <div class="blog-featured" itemscope="" itemtype="http://schema.org/Blog">
    <div class="items-leading clearfix">
      <div class="leading-0 clearfix" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
        <p>&nbsp;</p>
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/Home eng_files/is.jpg" alt="" width="800"></p>
      </div>
    </div>
  </div>
</template>
