<template name="testimonialEng">
  <div id="system-message-container"></div>
    <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  		<div class="page-header">
  		<h1> Testimonial &amp; Press </h1></div>
	     <div itemprop="articleBody">
  <p><strong>TESTIMONIAL</strong></p>
  <p style="text-align: center;"><em>Feedback from Tao Kung Fu System Thai Workshop students</em></p>
  <p style="text-align: center;"><strong><a href="https://www.youtube.com/watch?v=OoTfpLPnkaw" target="_blank">WATCH VIDEO</a></strong></p>
  <p>&nbsp;</p>
  <p><strong>PRESS</strong></p>
  <p style="text-align: center;"><em>Turkish newspaper article 1</em>&nbsp;</p>
  <p style="text-align: center;"><strong><a href="http://www.taokungfusystem.com/headquarter/images/pdf/turkeypress1.pdf" target="_blank">READ PDF</a></strong></p>
  <p style="text-align: center;"><em>Turkish newspaper article 2</em></p>
  <p style="text-align: center;"><strong><a href="http://www.seyahatperest.com/2014/10/15/tai-chi-ogreniyorum/" target="_blank">READ ONLINE</a></strong></p> 	</div>


  						 </div>

</template>
