<template name="avanzatoIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> TKFS Avanzato</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Il livello avanzato di Qi Gong curativo apre la tua consapevolezza ad una visione più ampia del concetto di benessere e di guarigione che, dal livello fisico ed emozionale, entra nella sfera spirituale.</p>
<p class="MsoNormal" style="text-align: justify;">Le tecniche comprese in questo livello rientrano nella sfera dell’alchimia interiore: un processo che ti permette di trasformare la qualità della tua energia interiore, anche quella negativa conservata all’interno dei tuoi organi, per utilizzarla a tuo vantaggio.</p>
<p style="margin-bottom: 0cm; text-align: justify;">Apprenderai inoltre come mettere consapevolmente in connessione l’energia vitale che scorre nel tuo corpo con l’energia infinita di cui è composto l’universo che ti circonda.</p>
<p style="margin-bottom: 0cm; text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: center;">Il TKFS Avanzato comprende:</p>
<p style="margin-bottom: 0cm; text-align: center;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: center;"><a href="23it Fusione dei 5 Elementi 1.html">Fusione dei 5 Elementi 1</a></p>
<p style="margin-bottom: 0cm; text-align: center;">&nbsp;</p>
<p style="margin-bottom: 0cm; text-align: center;"><a href="24it Fusione dei 5 Elementi 2.html">Fusione dei 5 Elementi 2</a></p>
<p style="margin-bottom: 0cm; text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="25it Fusione dei 5 Elementi 3.html">Fusione dei 5 Elementi 3</a></p>
<p style="text-align: center;"><a href="26it Kuji In.html">Kuji In</a></p> 	</div>


						 </div>
</template>
