<template name="fusionedei5Elementi3Ita">
  <div id="system-message-container"></div>
    <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
				<div class="page-header"><h2 itemprop="name"><a href="" itemprop="url"> Fusione dei 5 Elementi 3</a></h2></div>
          <div itemprop="articleBody">
		          <p class="MsoNormal" style="text-align: justify;">Nell’ultimo modulo di alchimia interiore, conosciuto come Fusione dei 5 Elementi 3, imparerai ad attivare e dirigere l’energia all’interno di canali ben noti agli esperti di Medicina Tradizionale Cinese: il Grande Regolatore, i Canali del Grande Ponte e gli Otto Canali Straordinari.</p>
              <p class="MsoNormal" style="text-align: justify;">Il processo permette di risolvere, ad un livello ancora più sottile, eventuali blocchi psichici ed emozionali che non ti permettono di vivere pienamente, aiutandoti a creare una potente barriera energetica che ti proteggerà dalle influenze negative provenienti dall’esterno.&nbsp; La tua energia interiore, così rinnovata, ti permetterà di relazionarti in piena libertà con gli eventi futuri e con gli altri, padroneggiando le situazioni senza perdere la connessione con il tuo centro.</p>
              <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;">Al termine della tecnica sperimenterai inoltre una nuova profonda connessione tra il tuo corpo fisico e le due energie esterne che influiscono su di esso: quella della Terra e quello della Forza Universale.</p> 	</div>
            </div>
</template>
