<template name="kujiInIta">
  <div id="system-message-container">
  	</div>

  					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	<meta itemprop="inLanguage" content="en-GB">
  				<div class="page-header">
  		<h2 itemprop="name">
  												<a href="" itemprop="url"> Kuji In</a>
  									</h2>
  							</div>




  								<div itemprop="articleBody">
  		<p style="text-align: justify;">Il Kuji In è una pratica spirituale antichissima la cui origine si ritrova sia all’interno della tradizione Taoista che in quella afferente al Buddhismo giapponese.</p>
  <p style="text-align: justify;">Consiste in una sequenza di nove simboli ottenuti attraverso particolari posizioni delle mani, o mudra, intrecciate tra loro. Ciascun mudra, accompagnato da una precisa intenzione mentale, veicola e attiva forme latenti della nostra energia vitale agendo praticamente come una sorta di interruttore: il contatto tra le dita permette infatti la connessione tra meridiani energetici che scorrono in modo simmetrico nei nostri arti superiori.</p>
  <p style="text-align: justify;">Si narra che il Kuji In possa donare al praticante il potere dell’autoguarigione oltreché capacità al limite dell’ordinario, ma ciò che si può realmente affermare è che si tratta di una potente pratica meditativa per la comprensione della nostra energia nella sua forma più elevata.</p>
  <p style="text-align: justify;">&nbsp;</p>
  <p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/26rom Kuji In_files/pDSCF0202.JPG" alt="" width="510" height="680"></p> 	</div>


  						 </div>
</template>
