<template name="advanceEng">
  <div id="system-message-container"></div>
    <div class="item-page" itemscope="" itemtype="http://schema.org/Article">
      <div class="page-header"><h2 itemprop="name"><a href="" itemprop="url"> TKFS Advance Level</a></h2></div>
        <div itemprop="articleBody">
<p>&nbsp;</p>
<p style="margin-bottom: 0cm;">The advance level of Tao Kung Fu System will open your awareness to the energy-spiritual world.</p>
<p>&nbsp;</p>
<p style="margin-bottom: 0cm;">The practices of this level are pure Supreme Inner Alchemy Taoist Qi Gong.</p>
<p>&nbsp;</p>
<p style="margin-bottom: 0cm;">In these series of practices the practitioners will learn how transform &amp; recycle the negative energy, mix the negative energy with the positive energy and use this “pearl” of energy for create the “Immortal Body”.</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p style="margin-bottom: 0cm;">&nbsp;</p>
<p>&nbsp;</p>
<p><a href="21eng Fusion of the 5 Element 1.html">Fusion of the 5 Elements 1</a></p>
<p><a href="22eng Fusion of the 5 Element 2.html">Fusion of the 5 Elements 2</a></p>
<p><a href="23eng Fusion of the 5 Element 3.html">Fusion of the 5 Elements 3</a></p>
<p><a href="24eng Kuji In.html">Kuji In</a></p>
  </div>
    </div>
</template>
