<template name="fusionofthe5Element3Eng">
  <div id="system-message-container">
  	</div>

  					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
  	<meta itemprop="inLanguage" content="en-GB">
  				<div class="page-header">
  		<h2 itemprop="name">
  												<a href="" itemprop="url"> Fusion of the 5 Element 3</a>
  									</h2>
  							</div>




  								<div itemprop="articleBody">
  		<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">Fusion of the Eight Psychic Channels is the last of the three Fusion practices. It teaches you the last techniques and meditation to make you ready and prepared to start the Practice of the Immortal Tao. In this practice, you will learn how to open and clean the Great Bridge and Regulator Channels, to protect your spine and energy field, to seal the aura and the senses. You will also learn how to open crown your head. </span></p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">Finally, you will learn to transform the Microcosmic Orbit, the Thrusting Channels and the Belt Channel in the Energy Body. With the help of many diagrams, you will first be able to locate and discover the practical uses of the points of the Great Bridge and Regulator Channels. You will then learn to concentrate o­n the flow of energy in the channels and to open and connect each point to enable the energy to flow freely. </span></p>
  <p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">The Spinal Cord Microcosmic Orbit practice strengthens and wraps the spinal cord with energy. Sealing the Aura enables the practitioner to create a thicker aura to protect the body, while opening the crown energy helps to clear the brain and facilitates the reception of higher frequencies. </span></p>
  <p style="text-align: justify;">&nbsp;</p> 	</div>


  						 </div>
</template>
