<template name="fusionofthe5Element1Eng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Fusion of the 5 Elements 1</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;"><span lang="en">Fusion of the Five Elements is the first level of meditation in a Taoist practice also known as Fusion of the Five Forces in the Universe. It is the beginning of Inner Alchemy, a scientific process by which you gain control over the energies of your inner universe so that a connection can be made to the tremendous energy of the universe beyond the body.</span> </p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">This energy becomes useful for self-healing, day-to-day living and reaching spiritual goals. The Fusion meditation is the first step in learning to control the generation and flow of emotional, mental and physical energies within your body. The practice teaches you how to locate and dissolve the negative energies hidden inside your body. </span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">Using the Taoist Five Element Theory, a connection is made between the five outer senses - eyes, tongue, mouth, nose, ears - and the Five major emotions - anger, hate, worry, sadness, and fear. O­nce the negative emotion is identified with the organ it is stored in, it can be controlled.</span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">The Fusion meditation shows you step by step how the negative emotions are removed from the organs. </span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">Negative emotions are neither suppressed nor expressed. Instead, their negative energy is brought to specific points in the body where it is easily neutralized, purified, and then transformed back into your original positive, creative energy. The great secret of crystallizing and storing your original positive energy in a mysterious pearl is revealed for the first time in the Fusion alchemical formula. </span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;"><span lang="en">This pearl is the essence of our life force energy, or Chi. It is central to nourishing the physical body, and later to nourishing the soul, or energy body. In more advanced Fusion practice, your soul/energy body becomes very controllable and its power can be balanced, strengthened and expanded to connect with the essence of the Earth and Star energies. The Fusion of the Five Elements practice is the essential first step toward complete emotional and spiritual development. </span></p>
<p style="text-align: justify;">&nbsp;</p> 	</div>


						 </div>
</template>
