<template name="kujiInEng">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Kuji In</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;"><span lang="en">The Nine Hand Seals Technique and its related teachings have their origins in the Hindu religion where they were initially used by a few groups from the lower castes. These mystical techniques were a means used by the monks to bring the virtues of the spirit into mundane experience. The original form was not as developed as the system we have today. Thus, this historical perspective refers to the origins of the current system, not the modern Nine Hand Seals Technique as it exists today. Buddhism came out of Hinduism, and, with it, the Nine Hand Seals Technique became ever more popular. The original mudras remain the same as those taught in ancient times, but Buddhist mantras were also added to the system to enhance it. The original mantras were in Sanskrit.</span></p>
<p style="margin-bottom: 0.35cm; line-height: 100%; text-align: justify;">T<span lang="en">he Buddhist movement later traveled to China, where the tradition was passed on to the hermetic and esoteric groups there. Boa Pu Zhi, a wise Chinese master, was the first to put the nine hand mudras on paper, in his work published around the 3</span><sup><span lang="en">rd</span></sup><span lang="en"> century AC. Eventually, the techniques migrated to Japan, along with esoteric Buddhism, where the mantras were translated into Japanese phonetics.</span></p>
<p style="margin-bottom: 0.35cm; line-height: 100%; text-align: justify;"><span lang="en">The modern Kuji-In technique is composed of a ritual process comprising the traditional application of the Buddhist “three secrets” (mudra, mantra, and mandala). The true Kuji-In secret lies within the contemplation of that philosophy which we use to change our attitude about life.</span></p>
<p>&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="/images/24eng Kuji In_files/pDSCF0202.JPG" alt="" width="510" height="680"></p> 	</div>


						 </div>
</template>
