<template name="intermedioIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> TKFS Intermedio</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Il livello intermedio del Tao Kung Fu System comprende tecniche di Qi Gong curativo di maggiore complessità.</p>
<p class="MsoNormal" style="text-align: justify;">Il praticante, ormai capace di veicolare la propria energia vitale Qi attraverso il corpo, può ora lavorare con maggiore dettaglio sulla propria energia sessuale, sul processo di rigenerazione cellulare del corpo, sulla capacità di prendere energia dall’esterno.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal" style="text-align: center;">Il TKFS Intermedio comprende:</p>
<p class="MsoNormal" style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="16it Forza Vuota.html">Forza Vuota</a></p>
<p style="text-align: center;"><a href="17it 3 Fuochi 6 Direzioni.html">3&nbsp;Fuochi 6 Direzioni</a></p>
<p style="text-align: center;"><a href="18it Sistema Cellule Staminali.html">Sistema Cellule Staminali</a></p>
<p style="text-align: center;"><a href="19it Qi Gong Sessuale Maschile.html">Qi Gong Sessuale Maschile</a></p>
<p style="text-align: center;"><a href="20it Qi Gong Sessuale Femminile.html">Qi Gong Sessuale Femminile</a></p>
<p style="text-align: center;"><a href="21it Qi Gong Sessuale di Coppia.html">Qi Gong Sessuale di Coppia</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
