<template name="intermedioIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> TKFS Intermedio</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Il livello intermedio del Tao Kung Fu System comprende tecniche di Qi Gong curativo di maggiore complessità.</p>
<p class="MsoNormal" style="text-align: justify;">Il praticante, ormai capace di veicolare la propria energia vitale Qi attraverso il corpo, può ora lavorare con maggiore dettaglio sulla propria energia sessuale, sul processo di rigenerazione cellulare del corpo, sulla capacità di prendere energia dall’esterno.</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal" style="text-align: center;">Il TKFS Intermedio comprende:</p>
<p class="MsoNormal" style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><a href="{{pathFor 'forzaVuotaIta'}}">Forza Vuota</a></p>
<p style="text-align: center;"><a href="{{pathFor '3Fuochi6DirezioniIta'}}">3&nbsp;Fuochi 6 Direzioni</a></p>
<p style="text-align: center;"><a href="{{pathFor 'sistemaIta'}}">Sistema Cellule Staminali</a></p>
<p style="text-align: center;"><a href="{{pathFor 'qiGongSessualeMaschileIta'}}">Qi Gong Sessuale Maschile</a></p>
<p style="text-align: center;"><a href="{{pathFor 'qiGongSessualeFemminileIta'}}">Qi Gong Sessuale Femminile</a></p>
<p style="text-align: center;"><a href="{{pathFor 'qiGongSessualediCoppiaIta'}}">Qi Gong Sessuale di Coppia</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
