<template name="qiGongSessualeFemminileIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Qi Gong Sessuale Femminile</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;"><em>I taoisti non hanno mai condannato il sesso perché consapevoli della enorme importanza dell’energia sessuale per la nostra salute e la nostra evoluzione spirituale. Le pratiche del Qi Gong Sessuale mirano a comprendere questo importante fenomeno energetico e a conservare l’energia sessuale nel corpo per utilizzarla a fini superiori.</em></p>
<p style="text-align: justify;">In questa antica visione, l’energia contenuta nell’apparato sessuale femminile è conosciuta come Jing Qi ed ha una potenza tale da poter generare nuova vita. Nella donna il Jing Qi si rigenera nelle ovaie a cicli di 28 giorni e si disperde con l’arrivo delle mestruazioni. I numerosi disagi che molte donne provano durante il ciclo mestruale, ci restituiscono facilmente la percezione di un enorme dispendio di energia.</p>
<p style="text-align: justify;">Nel Qi Gong Femminile apprendiamo come conservare tale energia e a riportarla in circolo nei nostri canali energetici principali grazie a tecniche di respirazione, visualizzazione e controllo del Qi.</p>
<p style="text-align: justify;">La pratica porta enormi benefici per molte forme di dismenorrea.</p> 	</div>


						 </div>
</template>
