<template name="qiGongSessualediCoppiaIta">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Qi Gong Sessuale di Coppia</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;"><em>I taoisti non hanno mai condannato il sesso perché consapevoli della enorme importanza dell’energia sessuale per la nostra salute e la nostra evoluzione spirituale. Le pratiche del Qi Gong Sessuale mirano a comprendere questo importante fenomeno energetico e a conservare l’energia sessuale nel corpo per utilizzarla a fini superiori.</em></p>
<p class="MsoNormal" style="text-align: justify;">&nbsp;</p>
<p class="MsoNormal" style="text-align: justify;">Il Qi Gong Sessuale di Coppia presuppone che entrambi i partner siano praticanti delle tecniche energetiche del Tao Kung Fu System. Nel caso in cui un praticante desideri sperimentare tali tecniche con il proprio partner, è fondamentale che quest’ultimo sia consenziente.</p>
<p class="MsoNormal" style="text-align: justify;">La pratica consiste in uno scambio reciproco di energie Yin Yang permettendo all’energia vitale Qi di scorrere all’interno delle Orbite Microcosmiche dei due amanti come se fosse un unico canale.</p>
<p style="text-align: justify;">La tecnica permette ai partner di supportarsi a vicenda nel processo di riequilibrio della propria energia vitale, donando un’armonia di coppia a livello fisico, energetico e spirituale.&nbsp;</p> 	</div>


						 </div>
</template>
