<template name="camiciadiFerro1Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Camicia di Ferro 1</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Sotto il nome di “Camicia di Ferro” si raggruppano una serie di tecniche anticamente nate in ambito marziale, validissime ancora oggi anche e soprattutto per i loro effetti salutistici.</p>
<p class="MsoNormal" style="text-align: justify;">Il primo modulo consiste nell’apprendimento di una serie di posture corporee statiche che ne rinforzano la struttura. A livello fisico diventiamo capaci di allineare il nostro sistema scheletrico alla gravità terrestre, rinforziamo le fasce e distendiamo la spina dorsale prevenendo discopatie e problemi posturali. A livello energetico impariamo a connetterci alla terra attraverso i nostri piedi acquistando stabilità e flessibilità.</p>
<p class="MsoNormal" style="text-align: justify;">Una pratica costante delle posizioni della “Camicia di Ferro” rende il corpo più capace di protegge gli organi vitali da eventuali traumi esterni, incrementa la produzione di ormoni da parte del sistema endocrino, rafforza le difese immunitarie donandoti un generale senso di benessere.</p>
<p style="text-align: justify;">La Camicia di Ferro è fondamentale per ottimizzare la pratica del Tai Chi e di qualsiasi altra forma marziale.</p>
<p class="MsoNormal">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/29rom Camicia di Ferro 1_files/IMG_6234.JPG" alt=""></p> 	</div>


						 </div>
</template>
