<template name="taiChiQiGong1Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Gong 1</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Il Tai Chi consiste nell’apprendimento e nella esecuzione di una particolare forma marziale. E’ caratterizzato da movimenti che assecondano la forza dell’avversario con cambiamenti continui e fluidi della mente e del corpo, senza opporsi ad essa con violenza. Non si utilizza l’energia dei muscoli, ma quella interiore: ai movimenti si affianca infatti un lavoro di visualizzazione, controllo del respiro, stimolazione degli organi.</p>
<p class="MsoNormal" style="text-align: justify;">Nel Tao Kung Fu lavoriamo con una sequenza di 13 movimenti eseguiti nelle 4 direzioni in senso orario e antiorario. Si tratta di una forma molto breve se paragonata a quelle proposte dalle scuole tradizionali: è una scelta voluta per aiutarti a non impiegare troppa energia per la memorizzazione sterile di centinaia di movimenti e concentrarti su dettagli fondamentali quali postura, stabilità, corretta alternanza di forza e morbidezza. &nbsp;</p>
<p style="text-align: justify;">Nella pratica si correggono posture errate che creano blocchi energetici e causano malattie. Il Tai Chi è ormai considerato in tutto il mondo una disciplina praticabile ad ogni età, preziosa per migliorare la salute, la capacità di mantenere l’equilibrio, l’agilità ed in generale il benessere psico-fisico.</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/33rom Tai Chi Qi Gong 1_files/20140729_092139.jpg" alt="" width="870" height="653"></p> 	</div>


						 </div>
</template>
