<template name="taiChidellaSferaRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi della Sfera</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Consiste nell’esecuzione di forme che prevedono l’impiego di una sfera. Si tratta di una tecnica di alto livello che necessita di una grande capacità di percezione e di padronanza del proprio corpo.</p>
<p style="text-align: justify;">Con la pratica aumenterai notevolmente la tua resistenza fisica e l’abilità nel mantenere fluidi e costanti i tuoi movimenti.</p>
<p style="text-align: justify;">Il Tai Chi della Sfera permette di raggiungere numerosi obiettivi:</p>
<p style="text-align: justify;">- rafforzare il busto, in particolare la colonna vertebrale e parte bassa della schiena.</p>
<p style="text-align: justify;">- rigenerare ossa, midollo osseo, muscoli, tendini e legamenti indipendentemente dall’età.</p>
<p style="text-align: justify;">- migliorare e aumentare il flusso di Qi nel corpo.&nbsp;&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/36rom Tai Chi della Sfera_files/IMG_2597.JPG" alt=""></p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/36rom Tai Chi della Sfera_files/IMG_2623.JPG" alt=""></p> 	</div>


						 </div>
</template>
