<template name="taiChiQiGong2Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Gong 2</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">In questo secondo livello di meditazione in movimento apprenderai come utilizzare tecniche di assorbimento, trasmissione e scarico delle energie della Terra e dell’Universo.</p>
<p class="MsoNormal" style="text-align: justify;">La pratica consiste di 13 movimenti eseguiti in senso orario e antiorario, come nel Tai Chi Qi Gong 1, associati alle applicazioni del “pushing hands”: esercizi da praticare in coppia nei quali si impara a reagire adeguatamente al contatto con il corpo di un avversario e a gestirne la forza.</p>
<p style="text-align: justify;">Questa disciplina, oltre a migliorare l'allineamento posturale e il coordinamento corpo-mente, è ideale per l’integrazione di efficaci applicazioni di autodifesa.</p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: justify;">&nbsp;</p>
<p style="margin-bottom: 0.35cm; line-height: 115%; text-align: center;"><span lang="en"><img src="/images/34rom Tai Chi Qi Gong 2_files/IMG_2517.JPG" alt=""></span></p>
<p>&nbsp;</p> 	</div>


						 </div>
</template>
