<template name="taiChiQiGong3Rom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tai Chi Qi Gong 3</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Il Tai Chi Qi Gong 3 è il livello avanzato di meditazione in movimento, maggiormente ispirato allo stile Wu: caratterizzato da posizioni di ampiezza media e sempre leggermente inclinate in avanti.</p>
<p class="MsoNormal" style="text-align: justify;">La pratica consiste in otto movimenti eseguiti nelle otto direzioni e connessi con le otto forze della natura.</p>
<p class="MsoNormal" style="text-align: justify;">L’impiego di posture e torsioni particolari favoriscono l’apertura dei kua: le aree del tuo corpo che comprendono le linee inguinali, le anche, il sacro e la parete pelvica.</p>
<p style="text-align: justify;">Con l’esperienza, oltre ad ottenere un maggiore allineamento delle anche e un forte coordinamento corpo-mente a supporto della tua capacità di autodifesa, apprenderai come risvegliare il Tan Tien, attivare l’energia dei Reni e dirigere le Forze Cosmiche attraverso i tuoi movimenti.&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/35rom Tai Chi Qi Gong 3_files/IMG_2561.JPG" alt=""></p> 	</div>


						 </div>
</template>
