<template name="tanTienQiGongRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tan Tien Qi Gong</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p class="MsoNormal" style="text-align: justify;">Il Tan Tien è la riserva di energia del tuo corpo, è il luogo dove conserviamo l'energia che generiamo, raccogliamo e assorbiamo attraverso la pratica del Qi Gong. Il Tan Tien viene anche chiamato “l'oceano del Qi”. Secondo la teoria medica cinese, quando l'oceano è pieno trabocca negli otto meridiani straordinari. Una volta che anche questi canali sono pieni, il Qi fluisce nei dodici meridiani ordinari, ciascuno dei quali è associato ad un particolare organo.</p>
<p class="MsoNormal" style="text-align: justify;">Il Tan Tien è quindi alla base dell'intero sistema energetico del corpo. Gli esercizi del Tan Tien Qi Gong ti aiuteranno a sviluppare la pressione Qi, invertendo la naturale tendenza della forza vitale a muoversi a spirale verso il basso disperdendosi.</p>
<p style="text-align: justify;">Il Tan Tien Qi Gong è una delle migliori pratiche taoiste per sviluppare la potenza del Tan Tien e perineo. Una maggiore quantità di Qi e pressione nel Tan Tien è fondamentale per la maggior parte delle pratiche di Qi Gong marziale, soprattutto per le tecniche della Camicia di Ferro Qi Gong e del Tai Chi.</p> 	</div>


						 </div>
</template>
