<template name="baseRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> TKFS Base</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Il primo livello di Tao Kung Fu System comprende le tecniche fondamentali del Qi Gong curativo. Il loro apprendimento è necessario per l’esecuzione di tecniche di autoguarigione più complesse ed è fortemente consigliato anche per affrontare con maggiore consapevolezza il percorso marziale.</p>
<p style="text-align: justify;">Nel livello base, il praticante sviluppa la capacità di veicolare la propria energia vitale Qi attraverso il corpo sia da fermo che durante l’esecuzione di esercizi fisici.</p>
<p>&nbsp;</p>
<p style="text-align: center;">Il modulo TKFS Base comprende:&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><a href="{{pathFor 'generalQiGongRom'}}">General Qi Gong </a></p>
<p style="text-align: center;"><a href="{{pathFor 'sorrisoInterioreRom'}}">Sorriso Interiore</a></p>
<p style="text-align: center;"><a href="{{pathFor 'seiSuoniCurativiRom'}}">Sei Suoni Curativi</a></p>
<p style="text-align: center;"><a href="{{pathFor 'orbitaMicrocosmicaRom'}}">Orbita Microcosmica</a></p>
<p style="text-align: center;"><a href="{{pathFor 'taoYinRom'}}"> Tao Yin </a></p> 	</div>


						 </div>
</template>
