<template name="taoYinRom">
  <div id="system-message-container">
	</div>

					<div class="item-page" itemscope="" itemtype="http://schema.org/Article">
	<meta itemprop="inLanguage" content="en-GB">
				<div class="page-header">
		<h2 itemprop="name">
												<a href="" itemprop="url"> Tao Yin</a>
									</h2>
							</div>




								<div itemprop="articleBody">
		<p style="text-align: justify;">Il Tao Yin comprende una serie di esercizi taoisti, simili a quelli appartenenti alla tradizione dello yoga indiano, che favoriscono la fuoriuscita del calore in eccesso dal corpo e consentono un lavoro dettagliato su uno dei muscoli più importanti del sistema locomotore: il muscolo psoas.</p>
<p style="text-align: justify;">Il muscolo psoas è responsabile della deambulazione ed il suo irrigidimento è causa della maggior parte dei mal di schiena. Con gli esercizi del Tao Yin imparerai a rilassare ed allungare il sistema degli psoas e a rafforzare tutta la zona lombare rendendola più efficiente e permettendo ai tuoi reni di accumulare grandi quantità di energia.</p>
<p style="text-align: justify;">Si praticano da seduti e da sdraiati attraverso particolari stiramenti eseguiti in cicli di ripetizioni di pochi secondi per favorire un’alternanza tra contrazione e rilassamento.</p>
<p style="text-align: justify;">Gli esercizi del Tao Yin rivitalizzano e disintossicano muscoli, tendini, legamenti e articolazioni. Armonizzano il Qi, rilassano i muscoli addominali e i diaframmi, stimolano il “secondo cervello” situato nel basso ventre, rafforzano l’allineamento strutturale.</p>
<p style="text-align: justify;">Particolarmente indicato dopo sessioni di Qi Gong attivo.&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="/images/14rom Tao Yin_files/1781927_281310615396956_9010371256087937657_n.jpg" alt="" width="871" height="653"></p> 	</div>


						 </div>
</template>
